TASKS_CLIENT_ID=text
TASKS_CLIENT_SECRET=text
TASKS_REFRESH_TOKEN=text

DISCORD_CLIENT_ID=text
DISCORD_CLIENT_SECRET=text
DISCORD_REDIRECT_URI=text
DISCORD_PUBLIC_KEY=text
DISCORD_BOT_TOKEN=text
DISCORD_CHANNEL_ID=text
DISCORD_GUILD_ID=text

OPENAI_API_KEY=text
